body {
	font-family: -apple-system, "system-ui", Helvetica, Arial, sans-serif;
	margin: 0;
}

.task_browser {
	background-color: gainsboro;
	padding: 4px;
}

.task_header {
	font-size: 20px;
	font-weight: 700;

	display: flex;
	justify-content: space-between;
}

.task_description {
	margin-top: 4px;
}

.task_container {
	display: flex;
}

.task_a {
	margin-right: 8px;
}

.return_a {
	display: flex;
	justify-content: right;
}